:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #373737;
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
}

button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f6f7f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

#root {
  max-width: 100%;
  /* Full width on small screens */
  padding: 1rem;
  /* Less padding on small screens */
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 600px) {
  #root {
    padding: 0rem;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 0 12px #d9d9d9aa;
  min-width: 26em;
}

.logo-container {
  height: 1em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo-container:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo-container.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo {
  height: 4em;
  width: auto;
}

.title {
  margin-bottom: 0em;
}

.subtitle {
  padding-bottom: 1em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 600px) {

  .app-container,
  .deposit-container,
  .balance-container {
    min-width: 1em;
  }

  .card,
  .balance,
  .radio-container {
    grid-template-columns: 1fr;
    /* Stack elements vertically */
    padding: 0.5em;
  }

  .input-field,
  .button,
  .gsi-material-button {
    width: max-content;
    /* Full width inputs and buttons */
  }

  .logo {
    height: 3em;
    /* Adjust logo size for smaller screens */
  }

  .modal {
    width: calc(100% - 2rem);
    /* Full width minus some padding */
    max-width: calc(100% - 2rem);
    /* Override max-width for small screens */
  }

  .step-content {
    padding: 0.5em;
  }

  .claim-container {
    width: 100%;
  }
}

.card {
  justify-items: center;
  display: grid;
}

.read-the-docs {
  color: #888;
}

.read-the-notice {}

.input-field {
  padding: 0.8em;
  border: 1px solid #ccc;
  margin-bottom: 0.8em;
  border-radius: 0.8em;
  font-size: 1em;
}

.input-field:focus {
  border-color: #646cff;
  outline: none;
  box-shadow: 0 0 5px #646cffaa;
}

.deposit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  justify-content: center;
  background-color: #fff;
}

.deposit-container h5 {
  margin-bottom: 0.5em;
  margin-top: 0em;
}

.claim-container {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.radio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.radio-input {
  margin: 0 0.5em;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: "Roboto", arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s,
    box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity 0.218s;
  transition: opacity 0.218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  inset: 0px;
  background: var(--ck-overlay-background, rgba(71, 88, 107, 0.24));
  backdrop-filter: var(--ck-overlay-backdrop-filter, none);
  animation: 150ms ease-out 0s 1 normal both running kyfoBh;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 1em;
  min-width: 20em;
  z-index: 2;
}

.modal-title {
  margin-top: 0;
}

.modal-content {
  margin-top: 10px;
}

.modal-content button {
  background-color: #fff;
  transition: none;
  border: none;
}

.modal-content button:hover {
  cursor: pointer;
  border: none;
  opacity: 0.5;
}

.modal-close {
  border: none;
  cursor: pointer;
}

.modal-close:hover {
  color: #999;
}

.select-token-btn {
  position: absolute;
  font-size: small;
  margin: 2.64em 0 0 9em;
  background: none;
  transition: none;
}

.select-token-btn:hover {
  cursor: pointer;
  border: none;
  opacity: 0.5;
}

.arrow-down img {
  height: 1.74em;
  width: auto;
  position: absolute;
  left: 4.5em;
  bottom: 0.3rem;
}

.balance-container {
  padding-bottom: 1em;
}

.balance {
  display: flex;
  padding: 0em 0em 0em 9em;
}

.balance img {
  height: 1.74em;
  margin-top: calc(1.74em / 2);
  margin-right: 0.5em;
}

.balance button {}

.balance p {
  display: inline;
}

.footer {
  padding: 2em;
}

.footer a {
  padding: 1em;
  font-size: small;
}

.step-indicator {
  display: flex;
  justify-content: space-between;
  /* Distribute space evenly between the steps */
  margin-bottom: 1em;
  /* Space between the indicator and the content */
}

.step {
  flex-grow: 1;
  /* Grow each step equally */
  text-align: center;
  /* Center the text within each step */
  padding: 0.5em;
  border-radius: 1em;
  /* Optional: adds rounded corners */
  margin: 0 0.1em;
  font-size: small;
}

.step.current {
  font-weight: bold;
}

.step-content {
  border: 1px solid #e3e3e34f;
  border-radius: 0.8em;
}

@media (max-width: 600px) {
  .step-indicator {
    flex-direction: column;
  }

  .step {
    margin-bottom: 10px;
  }
}

/* For Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.asi-btn {
  display: flex;
  align-items: center;
  width: 10em;
  height: 2.5em;
  position: relative;
  padding-bottom: 1em;
}

.asi-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.gsi-btn {
  padding: 0em;
  border-radius: 0.2em;
  background: none;
  border: 0px;
}

.gsi-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.footer-button {
  background: none;
  color: #646cff;
  padding: 0;
  border: none;
  font: inherit;
  cursor: pointer;
  display: inline;
}

.footer-button:hover,
.footer-button:focus {
  text-decoration: none;
  color: darkblue;
  border: none;
}

.footer-link,
.footer-button {
  font-size: small;
  font-weight: 500;
  text-align: center;
  padding: 1em;
}


.tos-content {
  width: 54em;
}

.privacy-content {
  width: 54em;
}

.idmebutton {
  width: 100%;
  height: auto;
}

.idmebutton:hover {
  opacity: 0.8;
  transition: 0.2s;
}
